# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      
      - name: Zip on Ubuntu
        # You may pin to the exact commit or the version.
        # uses: nguyenquyhy/zip-release@fce5aed7bef4f8e25cacc8d0c7bafd71c36fa9ea
        uses: nguyenquyhy/zip-release@v0.3.0
        with:
          # Filename for archive
          filename: dist.zip # default is release.zip
          # Base path for archive files
          path: ./dist # optional, default is .
      
      - name: copy file via ssh key
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: root
          port: 22
          key: ${{secrets.SSH_KEY}}
          source: "dist.zip"
          target: "/tmp/"
      

      - name: ssh-pipeline
        # You may pin to the exact commit or the version.
        # uses: cross-the-world/ssh-pipeline@7f022867934a210af826af99ef80d96f03a094d5
        uses: cross-the-world/ssh-pipeline@v1.2.0
        with:
          # ssh remote host
          host: ${{secrets.HOST}}
          # ssh remote port
          port: 22 # optional, default is 22
          # ssh remote user
          user: root
          # content of ssh private key. ex raw content of ~/.ssh/id_rsa
          key: ${{secrets.SSH_KEY}} # optional
          # ssh remote password
          # connection timeout to remote host
          connect_timeout: 180s # optional, default is 30s
          # execute commands on ssh
          script: cd /tmp/ && unzip dist.zip && rm -rf /root/workspace/docker/nginx/html/patent/**  && mv dist/** /root/workspace/docker/nginx/html/patent/
